html {
	position: relative;
	overflow-x: hidden;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0;
	min-height: 100%;
	background-color: #EEE;
}

.chart-area {	
    background-color: white;
    padding: 15px;
}

.chart {	
	min-height: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;    
}

